#tabla {
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
   
    margin-bottom: 240px;
}
#añadir{
    margin-top: 10px;
    margin-left: 1065px;
}
#añadirequipo{
    margin-top: 10px;
    margin-left: 1052px;
}
	
#itemsbarra {
	color: white;
}

#botonbuscar{
    color: red;
}	
#fotojugador:hover{
    -webkit-transform: scale(5);
    transform: scale(5);
}
