#tabla {
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
   
    margin-bottom: 240px;
}
#añadir{
    margin-top: 10px;
    margin-left: 1065px;
}
#añadirequipo{
    margin-top: 10px;
    margin-left: 1052px;
}
	
#itemsbarra {
	color: white;
}
#textocards{
    text-align: center;
}
#hoverfotos:hover{
    -webkit-transform: scale(1.75);
    transform: scale(1.75);
    position:absolute;
    
}
